{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block activenav %}
<li role="presentation" class = "active"><a href="#">InventorWork Manager</a></li>
<li role="presentation"><a href="/sap">SAP Automation</a></li>
{% endblock %}

{% block content %}
{{ super() }}
<div class="form-group">
    &nbsp;
</div>
<div class="form-group">
    &nbsp;
</div>

<div class="row-lg-12">
	<div class="col-md-3" align="center">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">New InventorWork</h3>
			</div>
			<div class="panel-body">
				<form class="form form-horizontal" method="post" role="form">
					<div class="row-lg-12 row-md-offset-4">
						<div class="col-lg-12" align="center">
							{{ wtf.form_field(form.machine, form_type="horizontal") }}
							{{ wtf.form_field(form.project, form_type="horizontal") }}
							{{ form.hidden_tag() }}
						</div>
					</div>
					<div class="row-lg-12 row-md-offset-4">
							<div class="col-lg-12" align="center">
								{{ wtf.form_field(form.new, form_type="basic") }}
							</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row-lg-12">
	<div class="col-lg-4" align="center">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">InventorWork Folders</h3>
			</div>
			<div class="panel-body">
				<div class="row-lg-12 row-md-offset-4">
					<div class="col-lg-12" align="center">
						<div class="btn-group-vertical" role="group" aria-label="a">
						{% for item in folder_list %}
							<button type="button" class="btn btn-default"> <a href="/iw/{{item}}"> {{item}} </a> </button>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4" align="center">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">TLA</h3>
			</div>
			<div class="panel-body">
				<div class="row-md-12 row-md-offset-4">
					<div class="col-md-12" align="center">
						<div class="btn-group-vertical" role="group" aria-label="a">
						{% for item in folder_list %}
							<button type="button" class="btn btn-default"> <a href="/iw/{{item}}"> {{item}} </a> </button>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4" align="center">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row-md-12 row-md-offset-4">
					<div class="col-md-12" align="center">
						<img src="\static\CODING.jpg" alt="title" height="200">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}